#place-card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5%;
}

.card-no-anim {
    max-width: 480px;
    max-height: 480px;
}

#card-image {
    max-width: 480px;
    max-height: 320px;
}

#action-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@keyframes swipe-left {
    to {
        transform: rotate(-13deg) translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@keyframes swipe-right {
    to {
        transform: rotate(13deg) translate3d(100%, 0, 0);
        opacity: 0;
    }
}

.card-swipe-left {
    max-width: 480px;
    max-height: 480px;
    animation: swipe-left 1s forwards;
}

.card-swipe-right {
    max-width: 480px;
    max-height: 480px;
    animation: swipe-right 1s forwards;
}

/*Loading animation created by @tobiasahlin on twitter or tobiasahlin.com/spinkit*/

.loading {
    width: 40px;
    height: 40px;
    background-color: #FF4081;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}