#place-card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5%;
}

.card {
    max-width: 480px;
    max-height: 480px;
}

#card-image {
    max-width: 480px;
    max-height: 320px;
}

#action-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}